@import "table.sass"
@import "variables.sass"


*
	font-family: Verdana, Arial, sans-serif
body
	font-size: 16px


img
	max-width: 100%


a
	color: lighten(#803, 10%)
	text-decoration: none

	&:hover
		text-decoration: underline
		cursor: pointer


textarea
	display: block
	width: 100%
	padding: 16px
	margin: 0

	background: none
	border: 1px solid $main-color
	resize: vertical

	font-size: inherit


h2
	margin: 16px 0

	font-size: 24px
	font-weight: normal